<div class="container-fluid">
	<div class="row">
		<form novalidate ng-submit="editItem()">
			<div class="col-xs-2" style="margin-right: 10px">
			  	<div class="form-group">
			    	<label for="name">Ime</label>
			    	<input type="text" class="form-control" id="name" placeholder="Ime" ng-model="item.name">
			  	</div>
			  	<div class="form-group">
			    	<label for="sifra">Sifra</label>
			    	<input type="text" class="form-control" id="sifra" placeholder="Sifra" ng-model="item.sifra">
			  	</div>
			  	<div class="form-group">
			    	<label for="price">Cena</label>
			    	<input type="text" class="form-control" id="price" placeholder="Cena" ng-model="item.price">
			  	</div>
			</div>
			<div class="col-xs-4" style="margin-left: 10px">
				<div class="form-group">
			    	<label for="description">Opis</label>
			    	<textarea class="form-control" id="description" placeholder="Opis" ng-model="item.description" rows="10"></textarea>
			  	</div>
			</div>
			<div class="col-xs-4">
				<label for="cat">Kategorije i sub</label>
			    <select name="repeatSelect" id="cat" ng-model="item.categoryAndSub_id"
			    ng-options="[option.category_name, option.name] for option in categories track by option.category_id">
				</select>
			</div>
			<div class="clearfix"></div>
			<div class="col-xs-12">
				<button type="submit" class="btn btn-default">Submit</button>
			</div>
		</form>
	</div>
</div>